/* CWV online portfolio */
/* Home page */

.header {
    background-color: #d01468;
    font-size: 175%;
    text-align: center;
    padding: .75em;
    position: fixed;
    left: 0em;
    right: 0em;
    top: 0em;
}

.header a {
    color: #ffffff;
    list-style-type: none;
    padding: 0em 3em 0em 3em;
    font-family: serif;
    text-decoration: none;
    
}


#content { /* possibly use "background: -webkit-linear-gradient(top left, #fdeef4, white);" if you decide to add a gradient */
    /*background: -webkit-repeating-linear-gradient(
     top, #deb9b9, white, #deb9b9);
     background-repeat: no-repeat;
     background-attachment: fixed;*/
    background-color: #fff5f5;
    padding-top: 9em;
    text-align: center;
}

h1 {
    color: black;
    font-size: 500%;
}

h2 {
    color: black;
    font-size: 300%;
}

.footer {
    background-color: #d01468;
    font-size: 175%;
    text-align: center;
    padding: .75em;
    position: fixed;
    bottom: 0em;
    left: 0em;
    right: 0em;
}

.footer a {
    color: #ffffff;
    list-style-type: none;
    padding: 0em 3em 0em 3em;
    font-family: serif;
    text-decoration: none;
    text-align: left;
}
