img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 10px solid indigo;
}
body {
  text-align: center;
  margin: 100px;
  background: #AA99FF;
}
ul {
  list-style-type: none;
  font-size: 20px;
  background: indigo;
  padding: 20px;
}
a {
  color: white;
}
li {
  display: inline;
  padding: 0px 30px 0px 30px;
}
