/* One element at a time! */
	/* remember to test after each addition */

/* General Styling */	

/* html styling */

html {
	margin: 0
	padding: 0;
	border: 10px solid black;
}

/* body styling */

body {
	background: #ffdfe4;
	font-family: "Proza Libre", sans-serif;
	line-height: 1.7em;
	/* fallback for old browsers */
	/* #ffdde1 #ee9ca7*/
	background: -webkit-linear-gradient(#ffc9d0, #ffffff, #ffc9d0); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #ffc9d0, #ffffff, #ffc9d0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: 0;
}

/* a styling */

a {
	text-decoration: none;
}

/* li styling */

li {
	list-style-type: none;
}

/* Classes Styling */

/* span .border styling */

.border {
	border: 10px solid black;
	width: 99%;
}

/* div .position styling */

.position {
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	padding: 10px;
	width: 400px;
	margin: 20px auto;
}

/* Specific Main Styling */

/* #container styling */

#container {
	margin: 0 auto;
}

/* hiding #nav section links */

#nav {
	display: none;
}

/* #header styling */

#navigation {
	display: none;
}

#header {
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
}

/* #header ul styling */

#header ul {
	text-align: center;
}

/* #header li styling */

#header li {
	display: inline;
}

/* #header a styling */

#header a {
	color: white;
	padding: 0 85px;
	font-size: 25px;
	font-family: "Sorts Mill Goudy", serif;
}

/* #header a:hover styling */

#header a:hover {
	background: #FFDFE4;
	color: black;
	height: 100%;
	border-radius: 5px;
}

#miniNav {
	display: none;
}

/* #page1 styling */

#page1 {
	margin-top: 21.5em;
	height: 365px;
	width: 100%;
	text-align: center;
}

/* #page1 h1 styling */

#page1 h1 {
	font-family: "Sorts Mill Goudy", serif;
	font-style: italic;
	font-size: 4.5em;
	text-shadow: 1px 1px 1px silver,
	2px 2px 2px #FFDFE4,
    3px 3px 3px #FFDFE4,
    2px 2px 2px silver;
}

/* #page1 h2 styling */

#page1 h2 {
	font-family: "Sorts Mill Goudy", serif;
	font-size: 2em;
	line-height: 80px;
	letter-spacing: 4px; 
	text-shadow: 1px 1px 1px silver,
	2px 2px 2px #FFDFE4,
    3px 3px 3px #FFDFE4,
    2px 2px 2px silver;
}

/* #page2 styling */

#page2 {
	margin-top: 7em;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 600px;
}

/* #page2 h1 */

#page2 h1 {
	font-family: "Sorts Mill Goudy", serif;
	font-style: italic;
	font-size: 3.5em;
	text-align: center;
}

/* #page2 p */

#page2 p {
	font-size: 1.25em;
	line-height: 1.7em;
}

/* #page2 img */

#page2 img {
	width: 300px;
	height: 300px;
    border: 5px solid black;
    border-radius: 160px;
    float: right;
    margin: 5px;
}

/* #page3 styling */

#page3 {
	margin-top: 7em;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	float: left;
	padding-left: 10%;
}

#page3 h1 {
	font-family: "Sorts Mill Goudy", serif;
	font-style: italic;
	font-size: 3.5em;
	text-align: center;
}

/* #experience styling */

#experience {
	float: left;
	width: 30%;
	margin-bottom: 7em;
}

/* #other styling */

#other {
	float: right;
	width: 30%;
	margin: 0 auto;
}

/* #page4 styling */

#page4 {
	height: 600px;
	padding-top: 8em;
}

/* #page4 h1 */

#page4 h1 {
	font-family: "Sorts Mill Goudy", serif;
	font-style: italic;
	font-size: 3.5em;
	text-align: center;
}

/* #page4 ul */

#page4 ul {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	padding-top: 3em;
}

/* #page4 a */

#page4 a {
	display: inline;
}

/* #page4 li */

#page4 li {
	list-style-type: none;
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
}

/* #page4 img */

#page4 img {
	width: 350px;
	height: 200px;
	border: 2px ridge black;
	border: 1px solid grey;
    border-radius: 4px;
    padding: 5px;
}

/* #page5 styling */

#page5 {
	height: 500px;
	padding-top: 10em;
}

/* #page5 h1 */

#page5 h1 {
	font-family: "Sorts Mill Goudy", serif;
	font-style: italic;
	font-size: 3.5em;
	text-align: center;
}

/* #page5 p */

#page5 li {
	text-align: center;
	display: inline;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 2em;
}

/* #contactItems */

#contactItems {
	margin-top: 10em;
	margin-left: 10em;
}

/* Media Queries */

/* Larger tablets */

@media only screen and (min-width: 961px) and (max-width: 1365px) {
	#container {
		width: 95%;
	}
	.border {
		width: 104%;
		margin-left: -35px;
	}
	#header {
		display: none;
	}
	#miniNav {
		background: black;
		color: white;
		display: block;
		top: 0;
		left: 0;
		margin-left: -35px;
		padding: 0;
		height: 60px;
		width: 30%;
	}
	#miniNav li {
		display: none;
	}
	#navigation {
		display: block;
		text-align: center;
		margin: 0 auto;
		font-family: "Sorts Mill Goudy", serif;
		padding: 12px;
	}
	#page1 h1{
		line-height: 70px;
		margin-top: -2.5em;
	}
	#page2 {
		height: auto;
		padding-bottom: 2em;
	}
	#page3 {
		height: auto;
		width: 80%;
		float: none;
		margin: 0 -0.5%;
	}
	#page3 h1 {
		margin-top: 1.5em;
	}
	#page3 h2 {
		text-align: center;
	}
	#experience {
		float: none;
		width: 100%;
		margin-bottom: 4em;
	}
	#other {
		float: none;
		width: 100%;
		margin-bottom: 4em;
	}
	#page4 {
		height: auto;
		width: 80%;
		margin: 0 auto;
		padding-bottom: 3em;
		padding-left: 3em;
	}
	#page4 h1 {
		margin-top: -0.5em;
		text-align: center;
	}
	#page4 ul {
		display: block;
		margin-left: -1.5em;
	}
	#page4 li {
		text-align: center;
	}
	#page5 {
		height: auto;
		width: 95%;
		display: block;
		padding: 0;
		margin: 0;
	}
	#contactItems {
		margin: 0;
		padding: 0;
	}
	#page5 h1 {
		padding: 5% 5% 0 5%;
	}
	#page5 li {
		display: block;
		line-height: 2em;
	}
}

/* Tablet/iPads (Portrait and Landscape) */

@media only screen and (min-width: 768px) and (max-width: 960px) {
	#container {
		width: 95%;
	}
	.border {
		width: 104%;
		margin-left: -25px;
	}
	#header {
		display: none;
	}
	#miniNav {
		background: black;
		color: white;
		display: block;
		top: 0;
		left: 0;
		margin-left: -25px;
		padding: 0;
		height: 60px;
		width: 30%;
	}
	#miniNav li {
		display: none;
	}
	#navigation {
		display: block;
		text-align: center;
		margin: 0 auto;
		font-family: "Sorts Mill Goudy", serif;
		padding: 12px;
	}
	#page1 h1{
		line-height: 70px;
		margin-top: -2.5em;
	}
	#page2 {
		height: auto;
		padding-bottom: 2em;
	}
	#page3 {
		height: auto;
		width: 80%;
		float: none;
		margin: 0 -0.5%;
	}
	#page3 h1 {
		margin-top: 1.5em;
	}
	#page3 h2 {
		text-align: center;
	}
	#experience {
		float: none;
		width: 100%;
		margin-bottom: 4em;
	}
	#other {
		float: none;
		width: 100%;
		margin-bottom: 4em;
	}
	#page4 {
		height: auto;
		width: 60%;
		margin: 0 auto;
		padding-bottom: 3em;
	}
	#page4 h1 {
		margin-top: -0.5em;
	}
	#page4 ul {
		display: block;
		margin-left: -1.5em;
	}
	#page4 li {
		text-align: center;
	}
	#page5 {
		height: auto;
		width: 95%;
		display: block;
		padding: 0;
		margin: 0;
	}
	#contactItems {
		margin: 0;
		padding: 0;
	}
	#page5 h1 {
		padding: 5% 5% 0 5%;
	}
	#page5 li {
		display: block;
		line-height: 2em;
	}

}

/* For smaller tablets (portrait and landscape) */

@media only screen and (min-width: 569px) and (max-width: 767px) {

#container {
		width: 95%;
	}
	.border {
		width: 104%;
		margin-left: -20px;
	}
	#header {
		display: none;
	}
	#miniNav {
		background: black;
		color: white;
		display: block;
		top: 0;
		left: 0;
		margin-left: -20px;
		padding: 0;
		height: 60px;
		width: 50%;
	}
	#miniNav li {
		display: none;
	}
	#navigation {
		display: block;
		text-align: center;
		margin: 0 auto;
		font-family: "Sorts Mill Goudy", serif;
		padding: 12px;
	}
	#page1 {
		height: 400px;
	}
	#page1 h1{
		line-height: 70px;
		margin-top: -3.5em;
		font-size: 3.5em;
	}
	#page2 {
		height: auto;
		padding-bottom: 2em;
	}
	#page2 img {
		margin-bottom: 50px;
		margin-right: 30px;
	}
	#page3 {
		height: auto;
		width: 80%;
		float: none;
		margin: 0 -0.5%;
	}
	#page3 h1 {
		margin-top: 1.5em;
	}
	#page3 h2 {
		text-align: center;
	}
	#experience {
		float: none;
		width: 100%;
		margin-bottom: 4em;
	}
	#other {
		float: none;
		width: 100%;
		margin-bottom: 4em;
	}
	#page4 {
		height: auto;
		width: 80%;
		float: none;
		margin-top: -4.5em;
		margin-bottom: 4.5em;
	}
	#page4 h1 {
		margin-left: 100px;
	}
	#page4 ul {
		display: block;
		margin-left: 1em;
	}
	#page4 li {
		text-align: center;
	}
	#page5 {
		height: auto;
		width: 95%;
		display: block;
		padding: 0;
		margin: 0;
	}
	#contactItems {
		margin: 0;
		padding: 0;
	}
	#page5 h1 {
		padding: 5% 5% 0 5%;
	}
	#page5 li {
		display: block;
		line-height: 2em;
		text-align: justify;
		margin-left: 2em;
	}

}

/* For smart phones (portrait and landscape) */

@media only screen and (min-width: 240px) and (max-width: 568px) {
	html {
		margin: 0
		padding: 0;
		border: 3px solid black;	
		width: 200%;
		height: 100%;
	}
	#container {
		width: 95%;
	}
	.border {
		width: 110%;
		margin-left: -20px;
	}
	#header {
		display: none;
	}
	#miniNav {
		background: black;
		color: white;
		display: block;
		top: 0;
		left: 0;
		margin-left: -20px;
		padding: 0;
		height: 60px;
		width: 50%;
	}
	#miniNav li {
		display: none;
	}
	#navigation {
		display: block;
		text-align: center;
		margin: 0 auto;
		font-family: "Sorts Mill Goudy", serif;
		padding: 12px;
	}
	#page1 {
		height: auto;
	}
	#page1 h1{
		line-height: 70px;
		margin-top: -4.5em;
		font-size: 3.5em;
	}
	#page2 {
		height: auto;
		padding-bottom: 2em;
	}
	#page2 img {
		margin-bottom: 50px;
	}
	#page3 {
		height: auto;
		width: 80%;
		float: none;
		margin: 0 -4.5%;
	}
	#page3 h1 {
		margin-top: 1.5em;
	}
	#page3 h2 {
		text-align: center;
	}
	#experience {
		float: none;
		width: 100%;
		margin-bottom: 4em;
	}
	#other {
		float: none;
		width: 100%;
		margin-bottom: 4em;
	}
	#page4 {
		height: auto;
		width: 80%;
		float: none;
		margin: 0 -0.5%;
	}
	#page4 h1 {
		margin-top: -0.5em;
		margin-left: 1.5em;
	}
	#page4 ul {
		display: block;
		margin-left: -1.5em;
	}
	#page4 li {
		text-align: center;
	}
	#page5 {
		height: auto;
		width: 95%;
		display: block;
		padding: 0;
		margin: 0;
	}
	#contactItems {
		margin: 0;
		padding: 0;
	}
	#page5 h1 {
		padding: 5% 5% 0 5%;
	}
	#page5 li {
		display: block;
		line-height: 2em;
		text-align: justify;
		margin-left: 0.5em;
	}

}
